$import-google-fonts: true !default;
// $font-url: 'https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Raleway:300,400' !default;
// $font-name: 'Montserrat' !default;
$font-url: 'https://fonts.googleapis.com/css?family=Noto+Sans:400,700' !default;
$font-name: 'Noto Sans' !default;
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif !default;

// Colors
$teal: #4ec2c4;
$teal-highlight: #84d4d6; 
$blue: #32abde;
$blue-highlight: #6ec3e7;
$yellow: #f2b123;

$sidebar-width: 223px;
$sidebar-margin-right: 20px;
$segment-padding: 14px;
