#admin-over-cont {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 999;
}
#admin-over-cont .closed {
  height: 100px;
  width: 100px;
  position: fixed;
  right: 5px;
  bottom: 5px;
}

#admin-over-cont #admin-symbol {
  background-image: url(../images/vetd-arrow.svg);
  background-size: contain;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  animation-timing-function: linear;
  animation: 33s infinite mega-evolve ease-in;
  animation-delay: 0s;
  position: fixed;
  right: 5px;
  bottom: 5px;
}
#admin-over-cont #admin-symbol:hover {
  cursor: pointer;
}
#admin-over-cont.open {
  background-color: #EEE;
  border: solid 3px #27AAE0;
  height: 350px;
  width: 700px;
  padding: 5px;
}
#admin-over-cont.open #admin-symbol {
  animation: 20s infinite shark cubic-bezier(0.09, 0.6, 0.24, 0.03);
  bottom: -27px;
}
@keyframes shark {
  0% {
    transform: translate3d(0px, 0, 0) rotateY(0deg);
  }
  15% {
    transform: translate3d(-150px, 0px, 0) rotateY(0deg);
  }
  30% {
    transform: translate3d(-300px, 3px, 0) rotateY(0deg);
  }
  49% {
    transform: translate3d(-590px, -8px, -50px) rotateY(0deg);
  }
  50% {
    transform: translate3d(-600px, -10px, -100px) rotateY(180deg);
  }
  53% {
    transform: translate3d(-530px, -7px, -100px) rotateY(180deg);
  }
  97% {
    transform: translate3d(-50px, -3px, -50px) rotateY(180deg);
  }
  100% {
    transform: translate3d(0px, 0, 0) rotateY(0deg);
  }
}
#admin-over-cont.open::before, #admin-over-cont.open::after{
  border-bottom: 5px solid #27AAE0;
}
#admin-over-cont.open::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background-size: 20px 40px;
  background-image:
    radial-gradient(circle at 10px -15px, transparent 20px, #27AAE0 21px);
  animation: 3s infinite tide linear;
}
#admin-over-cont.open::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  background-size: 40px 40px;
  background-image:
    radial-gradient(circle at 10px 26px, #27AAE0 20px, transparent 21px);
  animation: 3s infinite tide linear;
}
@keyframes tide {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}

#admin-over-cont .admin-over-close{
  position: fixed;
  right: 20px;
  bottom: 20px;
}

@keyframes mega-evolve {
  0% {
    filter: hue-rotate(0);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
      filter: hue-rotate(3600deg);      
      transform: rotateX(1080deg) rotateY(1440deg) rotateZ(1800deg);
  }
}

.admin-notice{
  background-color: #FAA;
  color: #A00;
  font-weight: bold;
  padding: 10px;
}


#admin-form-templates-page .prompt-title button {
    margin: 0 0 0 20px;
}

.prompt-title {
    font-size: large;
    padding: 10px 0 0 0;
}

.prompt-field-name {
    font-size: medium;
    padding: 20px 0;
}

.prompt-title:hover, .prompt-field-name:hover {
    background-color: #ffffff;
}
