#admin-over-cont {
    position: fixed;
    right: 5px;
    bottom: 5px;
}
#admin-over-cont .closed {
    height: 100px;
    width: 100px;
    position: fixed;
    right: 5px;
    bottom: 5px;
}

#admin-over-cont #admin-symbol {
    background-image: url(../images/vetd-arrow.svg);
    background-size: 58px 97px;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    animation-timing-function: linear;
    animation: 10s infinite mega-evolve;
    animation-delay: 0s;
    position: fixed;
    right: 5px;
    bottom: 5px;
}
#admin-over-cont.open {
    background-color: #EEE;
    border: solid 3px #27AAE0;    
    height: 50%;
    width: 50%;
    padding: 5px;
}

#admin-over-cont .admin-over-close{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

@keyframes mega-evolve {
  0% {
      filter: hue-rotate(0);
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
      filter: hue-rotate(3600deg);      
      transform: rotateX(1080deg) rotateY(1440deg) rotateZ(1800deg);
  }
}

.admin-notice{
    background-color: #FAA;
    color: #A00;
    font-weight: bold;
    padding: 10px;
}


#admin-form-templates-page button{
    margin: 0 20px 0 20px;
    width: 200px;
}

.prompt-title {
    font-size: large;
    padding: 10px 0 0 0;
}

.prompt-field-name {
    font-size: medium;
    padding: 20px 0;
}

.prompt-title:hover, .prompt-field-name:hover {
    background-color: #ffffff;
}
