@import 'semantic-ui/globals/_variables';

body {
  background: #fafafa;
  font-size: 14px;
  font-weight: 300;
  color: #444;
}

a {
  cursor: pointer !important;
}
a.teal {
  color: $teal !important;
}
a.teal:hover {
  color: $teal-highlight !important;
}


.main-container {
  margin-top: 35px;
}

/* Top Navigation Menu */
.top-nav {
  margin-bottom: 30px !important;
}
.top-nav > .item {
  font-weight: 600 !important;
}
.top-nav > .logo {
  margin-top: -20px !important;
  padding: 0 55px 0 35px !important;
  /* no hover bg change */
  background: inherit !important;
}
.top-nav > .logo img {
  height: 60px !important;
  width: 140px !important;
}
.top-nav > .logo img:hover {
  animation-timing-function: linear;
  animation: 1s infinite party;
}
@keyframes party {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* used by:
 *   Preposals & Preposal Detail */
.container-with-sidebar {
  display: flex;
  flex-direction: row;
}
.container-with-sidebar > .inner-container {
  flex: 1;
  margin-top: 0 !important;
}
.sidebar {
  width: 223px;
  margin-right: 20px;
  font-weight: 400 !important;
}
.sidebar > .checkbox {
  display: block;
  margin-bottom: 7px;
}
.sidebar > .checkbox > label {
  font-size: 12px;
  font-weight: 300;
}
.sidebar .segment > .button:not(:first-child),
.sidebar .segment > .label:not(:first-child) {
  margin-top: 1em;
}

.product-title {
  padding: 5px 180px 14px 0 !important;
  margin: 0;
  font-size: 34px;
}
.display-field {
  margin: 7px 0 7px 0 !important;
  padding: 0 !important;
  border-bottom: none !important;
}
.display-field ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 18px !important;
}
.display-field-key {
  margin: 0 0 5px 0 !important;
}
.detail-container > .product-logo {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .container-with-sidebar {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    margin: 15px auto;
  } 
  .detail-container > .product-logo {
    display: none !important;
  }
  .product-title {
    padding: 0 7px 7px 0 !important;
  }
}

/* Product Profile and Vendor Profile (under Product detail and Preposal detail) */
.profile .title {
  padding: 0 11px 13px 0 !important;
  margin: 0;
  font-size: 24px;
}
.profile .row {
  padding-top: 7px !important;
}


/* to make segment look the same as item results */
/* .segment { */
/*   padding: 15px 12px !important; */
/*   background: #fff !important; */
/*   box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08), 0 2px 14px 0 rgba(50,50,93,0.14) !important; */
/*   border-radius: 8px !important; */
/* } */


/* Products & Categories page */
.product-search {
  width: 100%;
}


/* Search Results
 * used by: Preposals page
 *          Products & Categories page
 */
.results > .item  {
  padding: 15px !important;
  background: #fff !important;
  box-shadow: 0 2px 14px 0 rgba(50,50,50,0.1) !important;
  border-radius: 8px !important;
  transition: transform .3s ease-out !important;
  cursor: pointer !important;
  /* HACK to fix bug that hides 'ribbon' labels */
  transform: translate(0) !important;
}
.results > .item:hover  {
  transform: translate(0, -1px) !important;
  box-shadow: 0 3px 21px 0 rgba(50,50,50,0.26) !important;
  transition: all .05s ease-out !important;
}
.results > .item > .product-logo {
  min-width: 128px;
  min-height: 128px;
  max-width: 128px;
  max-height: 128px;
  margin-right: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.results > .item > .content {
  display: flex !important;
  flex-direction: column !important;
}
.results > .item > .content > .description {
  flex: 1 !important;
}
.results > .item > .content > .extra > .category-tag {
  margin-top: 11px; /* todo: this is kind of hacky */
}
.free-trial-tag {
  margin-left: 15px !important;
}

.categories {
  margin-bottom: 20px;
}
.category-search-result {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}


/* Override basic Semantic UI behavior */
.ui.fluid[class*="left labeled"].icon.button {
  padding-left: 44px !important;
  padding-right: 0px !important;
  text-align: left !important;
}

i.icon.vetd-icon:before {
  content: " " !important;
  width: 100%;
  background-image: url(../images/vetd-arrow.svg) !important;
  background-size: 13px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100%;
  filter: brightness(100);
}
.start-round-button:hover i.icon.vetd-icon:before {
  // animation-timing-function: linear;
  // animation: 1s infinite party;
}

/* TODO put this as less variable */
.ui.teal.label, .ui.teal.labels .label {
  background: linear-gradient(to right, #32abde, #6dccce) !important;
  border: none !important;
  color: #fff !important;
}
.ui.teal.ribbon.label {
  border-color: #187399 !important;
}


/* Miscellaneous */
.category-tag {
  background: #fff !important;
  border: 1px solid #ddd !important;
}
a.category-tag:hover {
  border-color: #777 !important;
  color: #777 !important;
}

textarea {
  font-family: inherit;
}

/* Toast Messages (toastr library) */
#toast-container .toast-success {
  background-color: $teal;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  opacity: 1;
}
#toast-container .toast-title,
#toast-container .toast-message {
  color: #fff;
}


/* login and signup form */
.centerpiece {
  width: 265px;
  margin: 0 auto;
  text-align: center;
}
.centerpiece .logo {
  display: block;
  width: 210px;
  margin: 30px auto 40px auto;
  /* logo design is weighted a little right */
  position: relative;
  left: -5px;
}



/* Loading Spinner */
div.spinner {
  animation: rotate .4s infinite ease;
  animation-direction: alternate;
  position: relative;
  display: block;
  margin: auto;
  width: 142px;
  height: 142px;
  transform: scale(1.05);
}
div.spinner i {
  animation: rotate 2s infinite cubic-bezier(0.09, 0.3, 0.7, 0.03);
  transform-origin: 50% 100% 0;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  border: solid 6px transparent;
  border-bottom: none;
}
div.spinner i:nth-child(1) {
  animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  width: 44px;
  height: 22px;
  margin-top: -22px;
  margin-left: -22px;
  border-color: #4ec2c4;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}
div.spinner i:nth-child(2) {
  animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  width: 58px;
  height: 29px;
  margin-top: -29px;
  margin-left: -29px;
  border-color: #32abde;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}


.error.form {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
