@import 'semantic-ui/globals/_variables';

$bg-color: #fafafa;
// usage - @media #{$mobile} {  }
$mobile: "only screen and (max-width: 767px)";
$not-mobile: "only screen and (min-width: 768px)";
// even though the OS might be in Dark Mode, we also have our own class .dark-mode that is added to body
$dark-mode: "(prefers-color-scheme: dark)";

body {
  background: $bg-color;
  font-size: 14px;
  font-weight: 300;
  color: #444;

  // avoid jarring displacement when modal appears
  // or when search results cause page to lengthen
  overflow-y: scroll !important;
}

a {
  cursor: pointer !important;
}
a.teal {
  color: $teal !important;
}
a.teal:hover {
  color: $teal-highlight !important;
}

a.label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.button {
  &:active {
    transform: scale(0.98);
  }
}

.teal {
  color: $teal;
}
.blue {
  color: $blue;
}

ul {
  margin: 0;
  padding: 0 0 0 18px;
}

.discount {
  h4 {
    margin: 0 0 4px 0;
  }
  
  &:not(:first-of-type) {
    margin-top: 12px;
  }
}

.ui.dropdown .menu > .header {
  text-transform: none;
  background-color: #4ec2c4;
  padding: 11px 1.14285714rem 9px 1.14285714rem;
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  color: white;
}

.main-container {
  padding-top: 35px;
}

/* Top Navigation Menu */
.top-nav {
  margin-bottom: 30px !important;
  
  @media #{$mobile} {
    margin-bottom: 0px !important;
  }

  > .item {
    font-weight: 600 !important;

    &.page-link {
      &:active { // mousedown on a top nav link to a page
        transform: scale(0.98);
      }
    }
  }
  > .logo {
    margin-top: -20px !important;
    padding: 0 55px 0 35px !important;
    /* no hover bg change */
    background: inherit !important;

    @media #{$mobile} {
      margin-top: -35px !important;
      margin-bottom: 15px !important;
      padding: 0 0 0 5px !important;
    }

    img {
      height: 60px !important;
      width: 140px !important;

      @media #{$mobile} {
        height: 42px !important;
        width: 98px !important;
      }

      &:hover {
        animation-timing-function: linear;
        animation: 1s infinite party;
      }
    }
  }

  .right.menu {
    @media #{$mobile} {
      position: absolute;
      right: 5px;
      top: 8px;
    }
  }
}
@keyframes party {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.avatar-initials {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-left: 3px;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 2px;
  border-radius: 50%;
  background: linear-gradient(to right, #6dccce, #32abde) !important;
  color: white;
  transition: all 0.1s ease;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.avatar-container {
  cursor: pointer;
  
  &:hover {
    .avatar-initials {
      filter: brightness(1.1);
    }
  }
}

.account-actions {
  width: 165px;
  
  .button.fluid {
    margin-top: 10px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

/* used by:
 *   Preposals & Preposal Detail */
.container-with-sidebar {
  display: flex;
  flex-direction: row;
}
.container-with-sidebar > .inner-container {
  flex: 1;
  margin-top: 0 !important;
}
.sidebar {
  width: $sidebar-width;
  margin-right: $sidebar-margin-right;
  font-weight: 400 !important;
}
@media only screen and (min-width: 768px) {
  .container-with-sidebar:not(.round-details) .sidebar {  
    position: sticky;
    top: 14px;
    // To effect the "sticky" position the way we want,
    // we need to set the height, which we could do with
    // height: min-content. However, display: table has the
    // same side effect, and it has better browser support.
    display: table;
  }
}
.sidebar .checkbox {
  display: block;
  margin-bottom: 7px;
}
.sidebar .checkbox > label {
  font-size: 12px;
  font-weight: 300;
}
.sidebar .back-button.ui.basic.button {
  box-shadow: none !important;
  background: #fff !important;
  font-weight: bold;
}
.sidebar .segment {
  box-shadow: 0 2px 14px 0 rgba(50,50,50,0.1) !important;
  border: none !important;

  h4 {    
    margin-bottom: 8px;

    &:first-of-type {
      margin-top: 16px;
    }
  }

  &.top-categories {
    h4 {
      &:first-of-type {
        margin-top: 0;
      }
    }

    a {
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}
.sidebar .segment > .button:not(:first-of-type),
.sidebar .segment > .label {
  margin-top: $segment-padding;
}

.product-title {
  padding: 0 180px 14px 0 !important;
  margin: 0;
  font-size: 30px;
}
.display-field {
  margin: 7px 0 7px 0 !important;
  padding: 0 !important;
  border-bottom: none !important;
}
.display-field ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 18px !important;
}
.display-field-key {
  margin: 0 0 5px 0 !important;
}
.detail-container {
  box-shadow: 0 2px 14px 0 rgba(50,50,50,0.1) !important;
  border: none !important;
}
.detail-container > .product-logo {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80px;
  margin: 15px 15px 0px 0px;
}

@media only screen and (max-width: 600px) {
  .container-with-sidebar {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    margin: 15px auto;
  } 
  .detail-container > .product-logo {
    display: none !important;
  }
  .product-title {
    padding: 0 7px 7px 0 !important;
  }
}

.missing-data {
  .display-field-key, .display-field-value {
    opacity: 0.2;
    transition: opacity 0.3s 0.3s linear, filter 0.3s 0s linear, color 0.3s 0.3s linear;
    cursor: default;
  }
  .button {
    position: absolute;
    top: 0;
    display: none;
  }
}
// a class that gets added via js when one of the missing data
// elements is hovered.
.missing-data-hovering {
  .display-field.missing-data {
    .display-field-key, .display-field-value {
      // filter: blur(4px);
      // filter: brightness(2);
      opacity: 0.8;
      color: rgb(66, 177, 179);
    }
    &:hover {
      .display-field-key, .display-field-value {
        filter: blur(7px);
      }
      .button {
        display: block;
      }
    }
  }
}

/* Product Profile and Vendor Profile (under Product detail and Preposal detail) */
.profile {
  .title {
    padding: 0 0 13px 0 !important;
    margin: 0;
    font-size: 22px;

    .icon {
      margin-right: 7px;
    }
  }

  .row {
    padding-top: 7px !important;
  }
}


.round-details .round-status {
  box-shadow: 0 0px 1px 0 rgba(50, 50, 50, 0.7) !important;
  border: none;
  margin-top: 7px;
}

.used-by-orgs {
  margin-top: 7px;
  
  > a {
    display: inline-block;
    margin-right: 7px;
  }
}

/* Products & Categories page */
.product-search {
  width: 100%;
}
.categories {
  margin-bottom: 20px;
}
.category-search-result {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.search-results-container {
  margin-top: 14px;
}

/* Search Results
 * used by: Preposals page
 *          Products & Categories page
 */
.results {
  margin: 0 !important;

  > .item  {
    padding: 15px !important;
    background: #fff !important;
    box-shadow: 0 2px 14px 0 rgba(50,50,50,0.1) !important;
    border-radius: 4px !important;
    transition: transform .3s ease-out !important;
    cursor: pointer !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* HACK to fix bug that hides 'ribbon' labels */
    transform: translate(0) !important;

    &:hover  {
      transform: translate(0, -1px) !important;
      box-shadow: 0 3px 21px 0 rgba(50,50,50,0.26) !important;
      transition: all .05s ease-out !important;
    }
    &:active {
      transform: translate(0, -1px) scale(0.99) !important;
    }

    > .product-logo {
      min-width: 128px;
      min-height: 128px;
      max-width: 128px;
      max-height: 128px;
      margin-right: 15px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    > .content {
      display: flex !important;
      flex-direction: column !important;

      > .description {
        flex: 1 !important;
      }
    }

    > .community {
      width: 150px;
      min-width: 150px;
      text-align: right;

      .metric {
        margin-bottom: 12px;

        h5 {
          margin-bottom: 3px;
        }
      }
    }
  }
}


.product-tags {
  display: inline-block;
  
  .label {
    margin: 0 10px 0 0 !important;

    &.tag {
      margin: 0 10px 0 10px !important;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &:last-child {
      margin-right: 0 !important;
    }
  }
}
.item {
  .extra {
    .product-tags {
      padding-top: 11px;
    }
  }
}

.ui.tag.label.small {
  font-size: 11px;
  border-radius: 3px 4px 4px 3px;

  &:before {
    width: 16px;
    height: 16px;
  }
  &:after {
    top: 9px;
    left: -1px;
    margin-top: 0;
  }
}

.ui.rating {
  i {
    &:focus {
      outline: 0;
    }
  }
}

// Settings page
.members .item {
  padding-top: 10px !important;

  /* this trick make hover only occur for the item when a child element "label" is being hovered */
  pointer-events: none;
  .label {
    pointer-events: auto;
  }

  &:hover {
    opacity: 0.7;
    .avatar {
      filter: brightness(1.04);
    }
  }
  
  .content {
    line-height: 20px !important;
  }
}

.list a.item {
  &:hover {
    opacity: 0.7;
    .avatar {
      filter: brightness(1.04);
    }
  }
}


/* Override basic Semantic UI behavior */
b, strong {
  font-weight: 600 !important;
}
.item .content .header {
  margin-top: 0 !important;
}
.ui.fluid[class*="left labeled"].icon.button {
  padding-left: 44px !important;
  padding-right: 0px !important;
  text-align: left !important;
}
i.icon.vetd { 
  background-image: url(../images/vetd-arrow.svg) !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
i.icon.vetd.small {
  width: 13px !important;
  height: 19px !important;
}
i.icon.vetd:not(.small) {
  width: 50px !important;
  height: 50px !important;
}
.feed i.icon.vetd {
  width: 25px !important;
  height: 28px !important;
  margin-top: 10px !important;
}
i.icon.vetd:not(.vetd-colors) {
  filter: grayscale(1) brightness(0.6);
}
i.icon.vetd-icon:before {
  content: " " !important;
  width: 100%;
  background-image: url(../images/vetd-arrow.svg) !important;
  background-size: 13px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100%;
  filter: brightness(100);
}

i.icon.quickbooks { 
  background-image: url(../images/quickbooks-logo.png) !important;
  background-size: 20px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.borderless > input {
  border: none !important;
  box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.08) !important;
}


/* Miscellaneous */
.category-tag {
  background: #fff !important;
  border: 1px solid #ddd !important;
  font-weight: 400 !important
}
a.category-tag:hover {
  border-color: #777 !important;
}
textarea {
  font-family: inherit;
}

/* Toast Messages (toastr library) */
#toast-container {
  .toast {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    opacity: 1;
    box-shadow: 0 -5px 30px 0 rgba(50,50,50,0.4);
  }
  .toast-success {
    background-color: $blue;
  }
  .toast-info {
    background-color: $teal;
  }
  .toast-warning {
    background-color: $yellow;
  }
  .toast-title,
  .toast-message {
    color: #fff;
  }
}

/* login and signup form */
.centerpiece {
  width: 265px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;

  .logo {
    display: block;
    width: 210px; // defining the width & height to avoid
    height: 89px; // jarring rerendering of layout flow on load
    margin: 0 auto 40px auto;
    /* logo design is weighted a little right */
    position: relative;
    left: -5px;
    animation: 2s party;
  }
  .field {
    text-align: left;
  }

  .ui.input {
    margin-top: 4px;
    font-size: 14px;
  }
}


/* Round Initiation Form */
.ui.form.round-initiation-form {
  margin-top: 20px;

  > .field,
  > .fields {
    margin-top: 15px;
  }
}

/* Round Grid */
$cell-width: 220px;
$cell-height: 201px;

.round-grid-container {
  width: 1128px;
  margin: 0 auto;
}

.round-grid-top-scrollbar {
  position: sticky;
  top: 0px;
  z-index: 1000;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar-track {
    background: #f5f4f5;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ebeceb;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #dbdcdb;
  }
}
.round-grid {
  position: relative;
  padding-top: 14px;
  display: flex;
  flex-wrap: nowrap; // unnecessary?
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  // since the header row is in fixed position, this keeps them from overflowing
  clip-path: inset(-100px 0px 0px 0px);

  &::-webkit-scrollbar-track {
    background: #f5f4f5;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ebeceb;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #dbdcdb;
  }

  .column {
    position: absolute;
    left: 0px;
    width: $cell-width;
    padding-left: 5px;
    padding-right: 5px;
    flex: 0 0 auto;
    transition: transform 0.4s 0s ease-out,
                z-index 0s 0.4s ease-out,
                box-shadow 0.4s 0s ease-out,
                background 1s 0s linear;
    background-image: radial-gradient(at center 100px, #f5f5f5 0px, #eee 120px);
    background-repeat: no-repeat;
    border-radius: 4px;
    z-index: 3;

    .round-product {
      height: 84px;
      width: $cell-width - 10px;
      padding: 14px 5px 10px 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      font-size: 14px;
      text-align: center;
      user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      cursor: grab;

      .button {
        margin-left: 7px;

        &:first-of-type {
          margin-left: 0px;
        }
      }
      
      .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 45px;
        margin-bottom: 0;
        font-size: 18px !important;
        font-weight: 600 !important;
        line-height: 23px !important;
        color: #444 !important;
        transition: color 0.5s 0s linear;

        &:hover {
          color: #888 !important;
          transition: none;
        }
      }

      &.long {
        padding-top: 8px;
        
        .name {
          font-size: 14px !important;
          line-height: 16px !important;
        }
      }
    }

    &.disqualified {
      opacity: 0.4;
    }
    
    &.winner {
      background: linear-gradient(to right, #32abde, #6dccce) !important;

      .ui.white.button {
        box-shadow: none !important;
      }
      .ui.white.buttons .button:hover, .ui.white.button:hover {
        background: white;
        filter: brightness(1.3);
      }
    }
    
  }

  &:not(.fixed) .column.winner {
    .name {
      color: white !important;

      &:hover {
        color: white !important;
        text-shadow: 0 0 1px #fff;
      }
    }
  }
  
  .cell {
    position: relative;
    height: $cell-height;
    
    margin: 0 0 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 14px 0 rgba(50,50,50,0.1) !important;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: transform .05s ease-out;
    transform: scale(0.98);

    .topic {
      width: 100%;
      padding: 4px 0px;
      text-align: center;
      background: rgba(0,0,0,0.04);
      font-size: 13px;
      color: #444;
      transition: color 0.5s 0s linear;
    }
    
    .text {
      padding: 7px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-word;
    }
    
    .actions {
      padding-bottom: 14px;

      .action-button {
        opacity: 0.3;
        transition: opacity .05s ease-out !important;
      }
    }
    
    &:hover {
      transform: scale(1);
      z-index: 5;
      
      .action-button {
        opacity: 1;
      }
    }
  }

  // draggable has to do with dragging to *scroll* (not to reorder)
  &.draggable {
    cursor: ew-resize;

    &.dragging,
    &.dragging .round-product,
    &.dragging .cell, {
      cursor: grabbing;
    }
  }
  &:not(.draggable) {
    .cell {
      cursor: pointer;
    }
  }
  .column.reordering {
    z-index: 999;
    transition: none !important;
    box-shadow: 0 0 40px 5px #fff !important;
    opacity: 1; // to counteract translucency if column is disqualified
  }
  .column.reordering,
  .column.reordering .round-product {
    cursor: grabbing !important;
  }
  
  // if the header row is in sticky mode
  &.fixed {
    padding-top: 98px;
  }
  &.fixed .round-product {
    position: absolute;
    top: -98px;
    z-index: 999;
    padding-top: 10px;
    height: 94px;
    background: white;
    // experiementing with shadow effect on upward scroll
    // box-shadow: 0 2px 14px 0 rgba(50,50,50,0.1),
    //             0 -150px 100px 0px rgba(50,50,50,0.4)
    //               !important;
    box-shadow: 0 2px 14px 0 rgba(50,50,50,0.1) !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: transform 0.3s 0s ease-out;
  }
  
  // commented out because it has issues when there's a lot of requirements
  // &:not(.fixed) .column.reordering {
  //   transform: scale(1.01);
  // }

  // experiment with fading other columns if not hovered upon
  // &:hover .column:not(:hover) {
  //   opacity: 0.6;
  // }

  &.highlight-products {
    .round-product .name {
      color: $blue !important;
      transition: none;
    }
  }
  &.highlight-topics {
    .topic {
      color: #4ec2c4;
      transition: none;
    }
  }
}

// Approve & Disapprove action buttons
.response-approved {
  .approve.ui.button {
    opacity: 1 !important;
    box-shadow: 0 0 0px 1px #4ec2c4 !important;
    color: #4ec2c4 !important;
  }
}
.response-disapproved {
  .disapprove.ui.button {
    opacity: 1 !important;
    box-shadow: 0 0 0px 1px rgba(230, 0, 20, 0.8) !important;
    color: rgba(230, 0, 0, 0.8) !important;
  }
}

#round-title-container {
  margin-left: 20px;
  
  .round-title {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 26px;
    line-height: 39px;
  }

  &.long {
    .round-title {
      font-size: 20px;
      line-height: 39px;
    }
  }
}

// when on grid, adding Topics or Products
.popup-dropdown-form {
  width: 550px;
  display: flex;

  .dropdown {
    flex: 1;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.how-vetd-works {
  min-height: 0 !important;
  padding: 25px !important;

  h2 {
    font-weight: 300;
    margin-bottom: 15px;
    text-align: center;
  }

  h3 {
    padding-bottom: 5px;
  }
}

.explainer-section {
  margin-top: 40px;

  &:first-of-type {
    margin-top: 0px;
  }

  h3 {
    font-size: 24px;
    font-weight: 300;
  }
  h3.teal {
    color: $teal;
  }
  h3.blue {
    color: $blue;
  }
  
  .explainer-item {
    margin-top: 20px;

    &:first-of-type {
      margin-top: 0px;
    }

    h4 {
      padding-bottom: 5px;
      margin-bottom: 0;
    }
  }
}


#round-status-container {
  margin-left: 20px;
  margin-bottom: 0;
}


/* Stacks */
.stack {
  padding: 4px 0 14px 0;
  margin-bottom: 14px;
  background-image: radial-gradient(at center 100px, #f5f5f5 0px, #eee 120px);
  background-repeat: no-repeat;
  border-radius: 4px;

  h2 {
    position: sticky;
    top: 0px;
    padding: 10px 14px 14px 14px;
    margin-bottom: 0;
    background-image: radial-gradient(at center 100px, #f5f5f5 0px, #eee 120px);
    background-repeat: no-repeat;
    z-index: 1000;
  }

  & > .results > .item {
    width: auto !important;
    margin-right: 14px !important;
    margin-left: 14px !important;
    padding: 10px !important;
    height: 100px;
    transition: height 0.3s ease-out !important;
    animation: expand-in 0.4s ease-out;

    .product-logo {
      $edge: 77px;
      min-width: $edge;
      min-height: $edge;
      max-width: $edge;
      max-height: $edge;
    }
    
    &.editing {
      height: 170px;
      cursor: default !important;
      
      &:hover {
        transform: none !important;
      }
    }

    .fields {
      margin: 0;

      .field {
        position: relative;
        padding: 0;

        > label {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
    .subscription-types .checkbox {
      display: block;
      margin-top: 4px;

      &:first-of-type {
        padding-top: 6px;
      }
    }

    
    &:active {
      transform: none !important;
    }
    
  }
}

.expand-in {
  animation: expand-in 0.4s ease-out;
}
@keyframes expand-in {
  from {
    opacity: 0.7;
    transform: scale(0.97) translateY(-8px);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -54px, 0);
  }
  
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.stack-item-grid {
  margin: 0 !important;
  
  .row {
    padding: 0 !important;

    &.field-row {
      font-weight: 400;
      margin-top: 7px;
    }

    .column {
      padding: 0 !important;
    }
  }
}

.scroll-anchor {
  position: relative;
}
.stack .scroll-anchor {
  top: -73px;
}
.profile .scroll-anchor {
  top: -25px;
}

.ui.rating.not-rated .icon:before {
  font-family: 'outline-icons' !important;
  font-size: 14px;
  position: relative;
  top: -1px;
}
.ui.rating .icon.selected:before {
  color: $blue !important;
}
.ui.rating:not(.not-rated) .icon.active:before {
  color: $blue !important;
}
// this is buggy, maybe come back to this some time
// .ui.rating:not(.not-rated):not(:focus):hover .icon:not(.selected):before {
//   color: rgba(0, 0, 0, 0.15) !important;
// }

.public-stack {
  .stack > .results > .item {
    height: 83px;
    animation: none;
    
    .product-logo {
      $edge: 60px;
      min-width: $edge;
      min-height: $edge;
      max-width: $edge;
      max-height: $edge;
    }

    .extra {
      margin-top: 0px;
    }
    .row {
      height: 39px;
      margin-top: 0;
    }
  }
}

.popular-products {
  padding: 14px;
  margin: 0 !important;
  background-image: radial-gradient(at center 100px, #f5f5f5 0px, #eee 120px);
  background-repeat: no-repeat;
  border-radius: 4px;

  h1 {
    padding: 0px 0px 14px 0px;
    margin-bottom: 0;
    background-image: radial-gradient(at center 100px, #f5f5f5 0px, #eee 120px);
    background-repeat: no-repeat;
    z-index: 1000;
    font-size: 22px;
    font-weight: 700;
  }
  
  .results {
    > .item {
      height: 83px;
      width: auto !important;
      padding: 10px !important;

      .header {
        font-size: 15px !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 133px;
      }
      
      .product-logo {
        $edge: 60px;
        min-width: $edge;
        min-height: $edge;
        max-width: $edge;
        max-height: $edge;
      }

      .extra {
        margin-top: 11px;

        .category-tag {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 133px;
        }
      }

      .community {
        width: 115px;
        min-width: 115px;
        font-size: 13px;
        
        .metric {
          margin-bottom: 2px;
        }
      }
    }
  }
}

.group-filter {
  .checkbox {
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ui.feed {
  margin-bottom: 14px !important;

  > .event {
    padding-top: 10px;
    cursor: pointer;
    
    &:hover {
      transform: scale(1.01);
    }

    > .label {
      width: 25px;
      
      .icon {
        margin-top: 12px;
        padding: 0;

        // NOTE: some others are colored inline with icon name
        &.star { color: gold; }
        &.clipboard.outline { color: $teal; }
        &.cart { color: $blue; }
        &.wpforms { color: $teal; }
      }

      + .content {
        margin-left: 10px;

        .summary {
          font-weight: normal;
          
          em {
            // color: $teal;
            font-weight: bold;
            font-style: normal;
          }
        }

        .date {
          margin-top: 0px;
        }
      }
    }
  }
}




// experiments with animated vetd-backgrounds
// .button {
//   background: linear-gradient(282deg, #6dccce, #32abde) !important;
//   background-size: 400% 400% !important;
//   animation: gradient-roll 1s ease infinite !important;
// }
// @keyframes gradient-roll { 
//   0%{background-position:0% 28%}
//   50%{background-position:100% 73%}
//   100%{background-position:0% 28%}
// }


/* Loading Spinner */
div.spinner {
  animation: rotate 5s infinite ease;
  position: relative;
  display: block;
  margin: auto;
  width: 142px;
  height: 142px;
}
div.spinner i {
  animation: rotate 3s infinite cubic-bezier(0.09, 0.3, 0.7, 0.03);
  transform-origin: 50% 100% 0;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  border: solid 6px transparent;
  border-bottom: none;
}
div.spinner i:nth-child(1) {
  animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  width: 44px;
  height: 22px;
  margin-top: -22px;
  margin-left: -22px;
  border-color: #4ec2c4;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}
div.spinner i:nth-child(2) {
  animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  width: 58px;
  height: 29px;
  margin-top: -29px;
  margin-left: -29px;
  border-color: #32abde;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}


.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.error.form {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#confetti-canvas {
  position: fixed;
  top: 0px;
}

.selectable {
  -webkit-touch-callout: inherit !important;
  -webkit-user-select: inherit !important;
  -khtml-user-select: inherit !important;
  -moz-user-select: inherit !important;
  -ms-user-select: inherit !important;
  user-select: inherit !important;
}

@media #{$mobile} {
  .collapsible:not(:active):not(:hover):not(:focus) {
    * {
      &:first-child {
        margin-bottom: 0;
        font-size: 15px;
      }
      &:not(:first-child) {
        min-height: 0 !important;
        height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
      }
    }

    &:after {
      content: '(show)';
      color: $blue;
      position: absolute;
      top: 14px;
      right: 14px;
    }
  }

  // hide userpilot overlays on mobile
  #userpilotContent {
    display: none !important;
  }
}

.dark-mode-toggle {
  display: none !important;
}

@media #{$dark-mode} {
  .dark-mode-toggle {
    display: block !important;
  }
  
  // If the user has toggled Dark Mode on,
  // this class gets added to body.
  body {
    &.dark-mode {
      background: #000;
      
      .logo {
        filter: invert(100%) hue-rotate(180deg);
        animation: none !important;
      }
      .segment, input, .results > .item {
        background: #444 !important;
        color: #e4e4e4 !important;
      }
      * {
        color: #e4e4e4 !important;
      }
      a {
        // color: $blue !important;
      }
      .label, .rating {
        filter: grayscale(30%);
      }
      .results > .item > .product-logo {
        filter: grayscale(40%);
        background-color: white; 
        filter: brightness(0.9);
        // mix-blend-mode: multiply;
      }
      .category-tag {
        background: #777 !important;
        color: #e4e4e4 !important;
      }
      .popup {
        // background-color: #555 !important;
        filter: brightness(0.85);
        * {
          color: #444 !important;
        }
      }
      .ui.button.basic.back-button {
        background: #444 !important;
        color: #e4e4e4 !important;
      }
      .ui.steps .step {
        background: #aaa !important;
        
        &:after {
          display: none !important;
        }
      }
      .popular-products, .ui.steps .disabled.step, .stack {
        background: #666 !important;

        h1, h2 {
          background: #666 !important;
        }
      }
      .stack, .profile {
        .ui.label {
          background: #777;
        }
      }
      .round-grid {
        filter: brightness(80%);
      }
      .round-grid * {
        color: #444 !important;
      }
      .ui.inverted.dimmer {
        background-color: rgba(0, 0, 0, 0.85);
      }
      .modal .header, .modal .actions {
        background-color: #333 !important;

        textarea {
          background-color: #444 !important;
        }

        .ui.button:not(.blue):not(.teal) {
          background-color: #777;
        }
      }
      textarea, .message, .dropdown, .input, input {
        background-color: #333 !important;
        
        .label {
          background-color: #333 !important;
        }
      }
      .dropdown {
        .label {
          background-color: #444 !important;
        }
      }
      .popup {
        textarea, .message, .dropdown, .input, input {
          background-color: #777 !important;
          
          .label {
            background-color: #888 !important;
          }
        }
        .dropdown {
          .label {
            background-color: #888 !important;
          }
        }
      }
      .modal .content {
        background-color: #444 !important; 
      }
      .ui.table  {
        background-color: #3a3a3a !important;
        
        thead th {
          background-color: #333 !important;
        }
      }
      .active.item.page-link {
        background-color: #444 !important;
      }
    }
  }
}
